# temp files
.metadata
*/target/**
*/.settings/**
*/.classpath
*/.project
jboss-cluster-ha-singleton
Lat9-mobileApp
apibypass
cobamt
HitungTps
jboss-cluster-ha-singleton-service
lat4-singleton
lat5-ws
lat6-mdb
lat8-cluster-ha-singleton-service
latihan1
Latihan2
Latihan3
lib247_rcs_shared
lib247_rcs_socmed
lib247_tspoin_shared
Lib247RcsLibUtil
LibBanchmarkTrx
PoinWFOsbCorprodCallbackMDB
rcsipcache
RcsSmsSendKrome
RcsSmsSendKrome3
RcsWFKromeMDBean
RcsWFLoggerMDBean
RemoveMsgMDB
!statusKeyword
ticket-monster
tselpoin_last
tspoinbenchmark
tspoincallback
umbapi
UXP